<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
	<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.scrollfollow.js"></script>  
    
    <script type="text/javascript">
        $(document).ready(function(){
            $("#testbanner").scrollFollow({
                speed : 100  // 움직이는 속도
                , offset :1000     // 웹페이지 상단에서 부터의 거리
            });
        });
    </script>
    
    <style>
    
        #testbanner{
            position: absolute;
            border: 3px solid #f00;
 
            right : 100px;
            top : 30px;
            width: 150px;
            height: 300px;
        }
    </style> 
</head>
<body>
	
 <div id="testbanner">
        <table>
       	<tr>
       		<!-- 발달 장애인 지원센터 -->
       		<td><a href="http://www.broso.or.kr/"> <img src="img/11.jpg"></a></td>
       	</tr>
       	<tr>
       		<!-- 중증 장애인 직업 재활동 관리 -->
       		<td><a href="http://vr.koddi.or.kr/"> <img src="img/jo.jpg"></a></td>
       	</tr>
       	
       	<tr>
       		<!-- 인청전략기금 운영사무국 -->
       		<td><a href="http://mrr.koddi.or.kr/page/index_kor.jsp"> <img src="img/charter.jpg"></a></td>
       	</tr>
       </table>

    	<div style="cursor:pointer;" onclick="window.scrollTo(0,0);">TOP</div>
  </div> 
      
  </div> 
  
</body>
</html>