

<!DOCTYPE html> 
<html>
 <head>
<style type="text/css">
 
body{
margin: 0px;
padding: 0px; 
} 


#wrapper{
border: 1px solid #FFBB00;
width:1054px; 
padding: 10px; 
position: absolute;
top: 10px;
left: 50%;
margin-left: -538px;
}

#contents{
border: 1px solid #487BE1;
width:800px;
float: left;
padding: 10px;
}

#sidebar{
border: 1px solid #487BE1;
width:200px;
float: left;
padding: 10px;
margin-left: 10px;
}

</style>
</head>

<body>
 
 
<div id="wrapper">
  <div id="contents">

  </div>
  <div id="sidebar">
사이드바
  </div>
</div>

</body>
</html>