body{
margin: 0px;
padding: 0px; 
background: #FFFFFF;
} 


#wrapper{

width:1400px; 
padding: 10px; 
position: absolute;
top: 10px;
left: 50%;
margin-left: -538px;
}

#contents{

width:800px;
float: left;
padding: 10px;
}

#content{

width:1200px;
float: left;
padding: 10px;
}

 #CC{
width:200px;
float: left;
padding: 10px;
} 
#sidebar{

width:100px;
float: left;
padding: 10px;
margin-left: 1150px;
}

#news{

width:800px;
float: left;
padding: 10px;
}

#Notice{

width:600px;
float: left;
padding: 10px;
}

#JOB{

width:600px;
float: left;
padding: 10px;
}

#bbsmain{

width:1000px;
float: left;
padding: 50px;


}
#more{
	
width:1000px;
float: right;
padding: 10px;

}

