body{
margin: 0px;
padding: 0px; 
background: #ffffff;
} 


#CssWrapper{
width:1200px; 
padding: 10px; 
position: absolute;
center;


}
#CssContent{
width:800px;
cneter;
margin-top: 200;
}
#CssContent1{
/* width:1200px;
float: left;
padding: 10px;
margin-left: 200px; */

width:800px;
center;



}


#CssContents {
   width: 900px;
   center;
}



#Botton1{
width:1200px;
height: 200px; 
padding: 10px; 
position: absolute;


} 



#CC {
   width: 200px;
   float: left;
   padding: 10px;
}

#DD {
   width: 1000px;
    
   
}

#EE {
   width: 1100px;
   float: center;

}
#sidebar{

width:100px;
float: left;
padding: 10px;
margin-left: 1150px;
 position:fixed;
    z-index:999;
    top:0px;
    left:0px;
  
}



#top{
	width:900px;
center;
padding: 10px;
}


#Notice {
   width: 600px;
   float: left;
   padding: 10px;
}

#bbsmain {
   width: 1000px;
   float: left;
   padding: 50px;
}

#more {
   width: 1000px;
   float: right;
   padding: 10px;
}

#leftsubmenu{
   width :150px;
   height: 500px;
   


   background-color: #FFFFFF;
   
   
}
#mylistTitle2{
width:200px;
float: left;
padding: 10px;
}
#registerFormSelect{
   width : 1000px;
   float:center;
   padding: 50px;

}
#registerFormtab{
   width : 1000px;
   float:left;
   padding: 50px;
}
#danner{
   margin-top: 30px;
   margin-left: 50px;
}