table.club {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 3px solid #FAB114;
 	
  
}


table.club td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}


table.notice {
     border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 3px solid #F4B649;
 	 margin : 20px 0px;
   
}

 table.notice td {
 
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
} 


 table.re th{
  	
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    border-bottom: 5px solid #F4B649;
 	 margin : 10px; 
}  

 table.re2 th{
  	
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-bottom: 5px solid #F4B649;
 	 margin : 10px; 
 	 
}  

table.re4{
	border-bottom :2px solid #ccc;
	margin-bottom: 30px;
	left;
	}
table.mem th{
  	
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    border-bottom: 3px solid #F4B649;
 	 margin : 10px; 
}  
table.mem2 th{
  	
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-bottom: 10px solid #ccc;
 	 margin : 5px;
 	 width: 1200px; 
}     

table.Bott {
   

    border-top: 3px solid #FAB114;
  	margin : 30px 10px;
  
  	
}

#Foot{
   width: 800;
  
   float: center;
   
   position: relative;
	
	overflow: hidden;
}

 table.re3 th{
  	
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    border-bottom: 5px solid #F4B649;
 	 margin : 10px; 
}  

table.re3 tr{
  	
   height: 60px;
   vertical-align: middle;
}  
table.re3 td{
	vertical-align: middle;
}
#category{
	
    width: 90px;
    height: 26px;
    background: url(select.png) 180px center no-repeat; 
    border: 1px solid #ff925e;
}

 