table.news {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 3px solid #FAB114;
  margin : 30px 10px;
}
table.news th {
    width: 300px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table.news td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}


table.notice {
     border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 3px solid #FAB114;
  margin : 20px 10px;
}
table.notice th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table.notice td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

table.job {
     border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 3px solid #FAB114;
  margin : 20px 10px;
}
table.job th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table.job td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

 table.re th{
  	
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    border-bottom: 5px solid #F4B649;
 	 margin : 10px; 
}  

 table.re2 th{
  	
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-bottom: 5px solid #F4B649;
 	 margin : 10px; 
 	 
}  
table.mem th{
  	
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    border-bottom: 3px solid #F4B649;
 	 margin : 10px; 
}  
table.mem2 th{
  	
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-bottom: 10px solid #ccc;
 	 margin : 5px;
 	 width: 1200px; 
}  


 /* table.re thead tr {
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;    
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    background: #FFFFFF;
}  
 */