@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 1;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; height:100%;}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  margin:0;
  padding-bottom: 40px;
  color: #353535;
  background: #FFFFFF ; /* http://subtlepatterns.com/squared-metal/ */
}

/* br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 { 
  font-family: 'Alegreya Sans', Tahoma, sans-serif;
  font-size: 4.2em;
  line-height: 1.3em;
  font-weight: bold;
  margin-bottom: 18px;
  color: #585858;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
}
h2 {
  font-family: 'Alegreya Sans', Tahoma, sans-serif;
  font-size: 3.75em;
  line-height: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
  color: #585858;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
}

p {
  font-size: 1.4em;
  line-height: 1.2em;
  color: #777;
} */


/** page structure **/
#w {
  display: block;
  max-width: 800px; /** 슬라이드 넓이**/
  min-width: 280px;
  margin: 0 auto;
  padding-bottom: 35px;
}

#w header {
  display: block;
  padding-top: 15px;
}

/** Glidejs styles **/
.slider {
	position: relative;
	width: 100%;
	height: 300px; 
	overflow: hidden;
} 
	
.slides {
  height: 100%;
  overflow: hidden;
  /**	
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden; 
  -webkit-transform-style: preserve-3d;

   -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.slide {
  height: 100%;
  float: left;
  clear: none;
 
} 
.slide figure {
  display: block;
  position: relative;
  text-align: center;
  
}
.slide figure figcaption {
  position: absolute;
  right: 20%;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px 14px;
  color: #ffffff;
  background: rgba(255,255,255,0.8);
   
}
.slide figure figcaption a {
  color: #5a7fbc;
  text-decoration: none;
}
.slide figure figcaption a:hover { text-decoration: underline; }

.slide figure img {
  max-height: 480px;
  
}



.slider-arrows {}

.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
  font-family: 'Alegreya Sans', 'Trebuchet MS', sans-serif;
  text-decoration: none;
  font-weight: 900;
  font-size: 3.0em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  
}
.slider-arrow:hover {
  background: #ddd;
  color: #aaa;
}
.slider-arrow--right { bottom: 50%; right: 30px; }
.slider-arrow--left { bottom: 50%; left: 30px; }


.slider-nav {
  position: absolute;
  bottom: 0px;
  
}

.slider-nav__item {
/*   width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff; */
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  
}
/* .slider-nav__item:hover { background: #bababa; }
.slider-nav__item--current, .slider-nav__item--current:hover { background: #999; } */



/** responsive styles **/
@media screen and (max-width: 1050px) {
  #w { padding: 0 15px; }
  .slider-arrow { font-size: 1.8em; padding: 15px; }
} 
@media screen and (max-width: 650px) {
  h1 { font-size: 2.9em; }
}

@media screen and (max-width: 450px) {
  h1 { font-size: 2.1em; }
}

.mylist{
    text-align : left;
	font-family: 돋움;
	font-size: 18px;
	color : #444444;
	list-style: none;
    margin: 0px;
    padding: 10px;
	margin-top :10px;
    margin-bottom: 10px;
    border-collapse: separate;
    boader-spacimg:1px;

}
.mylistTitle{
    text-align : center;
	font-family: 굴림;
	font-weight:bold;
	font-size: 30px;
	color:#00CCFF;
	list-style: none;
    margin: 0px;
    padding: 10px;
	margin-top :15px;
    margin-bottom: 15px;
}
.lo{
	width: 200px;
	padding: 10px;
	font-weight: bold;
	vertical-align: bottom;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #ececec;
}
 .registerSelect {
	text-align : center;
	font-family: 돋음;
	font-weight:bold;
	font-size: 50px;
	color:#F9CA02;
	list-style: none;
    margin: 0px;
    padding: 10px;
	margin-top :100px;
    margin-bottom: 100px;
}
.registerSelectA{
	text-align : center;
	font-family: 돋음;
	font-weight:bold;
	font-size: 15px;
	color : #BFBEBE;
	margin-bottom: 20px;
}
table.registerSelectTable {
	width : 775px;
	text-align : center;
	font-family: 돋음;
	font-weight:bold;
	font-size: 50px;
	color:#80A4FF;
	list-style: none;
    margin: 0px;
    padding: 10px;
	margin-top :100px;
    margin-bottom: 15px;
    
}
table.registerSelectTable td {
	width : 300px;
	height: 150px;
	vertical-align: middle;
    text-align: center;
	
}
#appLoadingIndicator {

display: table; 
width: 100%; 
height: 100%;


}

#cell {

display: table-cell; 

}
table.Search{
	
	width : 400px;
	height: 100px;
	margin-top: 15px;
	vertical-align:middle;
	
	border:3;
	border-color:green;
	border-collapse: collapse;
	
}
table.Search td{
	width:"200px";
	text-align:center;
	vertical-align:middle;
	font-size: 15px;
	font-family: 돋음;
}
table.Search br{
	width:"300px";
	text-align:center;
	font-size: 15px;
	font-family: 돋음;
}


table.basic { 
width:500px; 
line-height:21px; 
border-top: 1px solid #cccccc; 
border-left: 1px solid #cccccc; 
border-collapse: collapse; 
} 
table.basic th, table.basic td { 
color:#678197; 

border-right: 1px solid #cccccc; 
border-bottom: 1px solid #cccccc; 
padding: 3px 0; 
 
} 
table.basic th { 
background-color: #eeeeee; 
}

.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #a1988f) );
	background:-moz-linear-gradient( center top, #ededed 5%, #a1988f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#a1988f');
	background-color:#ededed;
	-webkit-border-top-left-radius:16px;
	-moz-border-radius-topleft:16px;
	border-top-left-radius:16px;
	-webkit-border-top-right-radius:16px;
	-moz-border-radius-topright:16px;
	border-top-right-radius:16px;
	-webkit-border-bottom-right-radius:16px;
	-moz-border-radius-bottomright:16px;
	border-bottom-right-radius:16px;
	-webkit-border-bottom-left-radius:16px;
	-moz-border-radius-bottomleft:16px;
	border-bottom-left-radius:16px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#0f0d0f;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 50px #ffffff;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a1988f), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #a1988f 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1988f', endColorstr='#ededed');
	background-color:#a1988f;
}

.classname:active {
	position:relative;
	top:1px;
}

button {
	/* display: block; */
	width: 80px;
	height: 30px;
	border-radius: 4px;
	text-align: center;
	line-height: 15px;
	text-decoration: none;
	font-family: 'Helvetica';
	font-weight: bold; 
	font-size: 11pt;
	/* float: left; */
	margin: 0px 20px;
}
.ml-button {
	background-color: #F39C45;
	/* border: 1px solid #A87017; */
	-moz-box-shadow:inset 0px 0px 1px rgba(184,129,39,1);
	-webkit-box-shadow:inset 0px 0px 1px rgba(184,129,39,1);
	box-shadow:inset 0px 0px 1px rgba(184,129,39,1);
	/* background-image: -o-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%); */
	color: #ffffff;
	text-shadow: rgba(254,252,252,0.5) 0px 1px 0px;
}

.ml-button2 {
	background-color: #FFFFFF;
	/* border: 1px solid #A87017; */
	-moz-box-shadow:inset 0px 0px 1px rgba(184,129,39,1);
	-webkit-box-shadow:inset 0px 0px 1px rgba(184,129,39,1);
	box-shadow:inset 0px 0px 1px rgba(184,129,39,1);
	/* background-image: -o-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%); */
	color: #000000;
	text-shadow: rgba(254,252,252,0.5) 0px 1px 0px;
}

/*Active*/
/* .ml-button:active {
	background-color: #E77E21;
	-moz-box-shadow:inset 0px 0px 5px rgba(184,129,39,1);
	-webkit-box-shadow:inset 0px 0px 5px rgba(184,129,39,1);
	box-shadow:inset 0px 0px 5px rgba(184,129,39,1);
	background-image: -o-linear-gradient(90deg , rgb(244,197,140) 0%, rgb(250,153,60) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(244,197,140) 0%, rgb(250,153,60) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(244,197,140) 0%, rgb(250,153,60) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(244,197,140) 0%, rgb(250,153,60) 100%);
	background-image: linear-gradient(90deg , rgb(244,197,140) 0%, rgb(250,153,60) 100%);
	text-shadow: none;
}


 */

/* This button was generated using CSSButtonGenerator.com */


/*  table.gmlwn {
	width: 800px;
	height: 50px;
	line-height: 21px;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-collapse: collapse;
	background-color: #F56025;
	margin-top: 5px;
}
  */
table.gmlwn th, table.gmlwn td {
	width: 800px;
	height: 50px;
	font-size: 30px;
	text-align: left;
	color: white;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding: 3px 0;
	vertical-align: middle;
	color: white;
}

table.list {
	width: 800px;
	height: 50px;
	line-height: 21px;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-collapse: collapse;
	background-color: #FFFFFF;
	margin-top: 5px;
}

table.list td {
	height: 30px;
	font-size: 15px;
	color: #000000;
	border-right: 1px solid #A7A7A7;
	border-bottom: 1px solid #A7A7A7;
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
	padding: 3px 0;
	border-bottom: 1px solid #A7A7A7;
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
}

table.list th {
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	color: #777777;
	border-bottom: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
	padding: 3px 0;
}

/* table.btn button {
	height: 50px;
	widows: 150px;
	border-right: 1px solid #A7A7A7;
	border-bottom: 1px solid #A7A7A7;
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
	color: #777777;
	background-color: #F1F1F1;
	font-size: 10px;
}
 */
table.list1 { <!-- -->
	width: 800px;
	height: 50px;
	line-height: 21px;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-collapse: collapse;
	background-color: #FFFFFF;
	margin-top: 5px;
}

table.list1 td {
	height: 30px;
	font-size: 20px;
	color: #000000;
	border-right: 1px solid #A7A7A7;
	border-bottom: 1px solid #A7A7A7;
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
	padding: 3px 0;
	border-bottom: 1px solid #A7A7A7;
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
}

table.list1 th {
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;
	color: #777777;
	border-right: 1px solid #A7A7A7; border-bottom : 1px solid #A7A7A7;
	border-left : 1px solid #A7A7A7; border-top : 1px solid #A7A7A7;
	padding: 3px 0;
	border-bottom: 1px solid #A7A7A7;
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
}

table.list1 button {
	height: 50px;
	widows: 150px;
	border-right: 1px solid #A7A7A7;
	border-bottom: 1px solid #A7A7A7;
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
	color: #777777;
	background-color: #F1F1F1;
	font-size: 10px;
}

table.list2 {
	width: 800px;
	height: 50px;
	line-height: 21px;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-collapse: collapse;
	background-color: #FFFFFF;
	margin-top: 5px;
}

table.list2 td {
	height: 30px;
	font-size: 20px;
	color: #000000;
	text-align: center; border-right : 1px solid #A7A7A7;
	border-bottom: 1px solid #A7A7A7;
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
	padding: 3px 0;
	border-bottom: 1px solid #A7A7A7;
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
	border-right: 1px solid #A7A7A7;
}

table.list2 th {
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;
	color: #777777;
	border-bottom: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
	padding: 3px 0;
}

table.list2 button {
	height: 50px;
	widows: 150px;
	border-right: 1px solid #A7A7A7;
	border-bottom: 1px solid #A7A7A7;
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
	color: #777777;
	background-color: #F1F1F1;
	font-size: 10px;
}

table.list3 {
	width: 800px;
	height: 50px;
	line-height: 21px;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-collapse: collapse;
	background-color: #FFFFFF;
	margin-top: 5px;
}

table.list3 td {
	height: 30px;
	font-size: 20px;
	color: #000000;
	text-align: right;
	border-right: 1px solid #A7A7A7;
	border-bottom: 1px solid #A7A7A7;
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
	padding: 3px 0;
	border-bottom: 1px solid #A7A7A7;
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
}

table.list3 th {
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;
	color: #777777;
	border-right: 1px solid #A7A7A7; border-bottom : 1px solid #A7A7A7;
	border-left : 1px solid #A7A7A7; border-top : 1px solid #A7A7A7;
	padding: 3px 0;
	border-bottom: 1px solid #A7A7A7;
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
}

/* ㅋㅋㅋ */
table.bbsTitle{
	width :700px;
	border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    color:#C7BEBB;
    line-height: 1.5;
    font-size: 30px;
 
}

table.bbsList {
	margin-top : 30px;
	width: 600px;
	margin-left: 50px;
	margin-bottom : 30px;
	
}

table.bbsList th {     /* 제목(맨위) */ 
	font-weight: bold;
	font-size: 15px;
	text-align: centet;
	background-color : #F39C45;
	color : #FFFFFF;
	
	vertical-align: middle;
    
}

table.bbsList td {     /* 게시판글(내용) */ 
	
	font-size: 12px;
	text-align: centet;
	vertical-align:middle;
	line-height: 1.0;
	
}

table.bbsList tr {     /* 게시판글(내용) */ 
	height: 30px;

}

table.bbsList button{
	background-color: #F39C45;
	/* border: 1px solid #A87017; */
	-moz-box-shadow: inset 0px 0px 1px rgba(184, 129, 39, 1);
	-webkit-box-shadow: inset 0px 0px 1px rgba(184, 129, 39, 1);
	box-shadow: inset 0px 0px 1px rgba(184, 129, 39, 1);
	/* background-image: -o-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%); */
	color: #ffffff;
	text-shadow: rgba(254, 252, 252, 0.5) 0px 1px 0px;
	margin: 0px 0px;
}


/* 앨범게시판 */

table.bbsAlbum{
   width:700px;
   border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    color:#C7BEBB;
    line-height: 1.5;
    font-size: 30px;
 
}

table.bbsAlbumList {
   margin-top : 30px;
   width: 600px;
   margin-left: 50px;
   margin-bottom : 30px;
}

table.bbsAlbumList th {     /* 이미지  */ 
   width:"200";
   background-color : #FFFFFF;   
   vertical-align: middle;
   border: 1px dotted #000000;
    
}

table.bbsAlbumList td {     /* 작성자, 제목 */ 
   font-weight: bold;
   text-align: centet;
   vertical-align:middle;
   line-height: 1.0;
   
}

table.bbsAlbumList tr {     /* tr 크기 */ 
   height: 30px;

}
table.bbsAlbumList button{
	background-color: #F39C45;
	/* border: 1px solid #A87017; */
	-moz-box-shadow: inset 0px 0px 1px rgba(184, 129, 39, 1);
	-webkit-box-shadow: inset 0px 0px 1px rgba(184, 129, 39, 1);
	box-shadow: inset 0px 0px 1px rgba(184, 129, 39, 1);
	/* background-image: -o-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%); */
	color: #ffffff;
	text-shadow: rgba(254, 252, 252, 0.5) 0px 1px 0px;
	margin: 10px 10px 10px 0px;
}


/* 마이페이지 */

table.mypage{
   width:700px;
   border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    color:#C7BEBB;
    line-height: 1.5;
    font-size: 30px;
 
}

table.mypageList {
   margin-top : 30px;
   width: 700px;
   margin-bottom : 30px;
   
}

table.mypageList td {     /* 작성자, 제목 */ 
   font-weight: bold;
   font-size: 12px;
   text-align: centet;
   vertical-align:middle;
   line-height: 1.0;
   
}
table.mypageList button{
	background-color: #F39C45;
	/* border: 1px solid #A87017; */
	-moz-box-shadow: inset 0px 0px 1px rgba(184, 129, 39, 1);
	-webkit-box-shadow: inset 0px 0px 1px rgba(184, 129, 39, 1);
	box-shadow: inset 0px 0px 1px rgba(184, 129, 39, 1);
	/* background-image: -o-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%);
	background-image: linear-gradient(90deg , rgb(250,153,60) 0%, rgb(244,197,140) 100%); */
	color: #ffffff;
	text-shadow: rgba(254, 252, 252, 0.5) 0px 1px 0px;
	margin: 10px 10px 10px 10px;
	font-size: 6px;
}

